<div class="card m-3 col-sm-2">
    <a href="/recipes/{{id}}">
        <img src="{{image}}" class="card-img-top" alt="Preview image of the dish">
        <div class="card-body">
            <h6 class="card-title">{{name}}</h6>
            <div class="d-flex justify-content-between">
                <p>{{time_total}}</p>
                <p><i class="fa-solid fa-star" style="color: #ffea00;"></i>{{rating}}</p>
            </div>
        </div>
    </a>
</div>